body {
  font-family: "Microsoft YaHei", "SF Pro Display", "Roboto", "Noto", "Arial", "PingFang SC", "Hiragino Sans GB", "sans-serif";
  font-size: 0.75em;
  color: #333;
  line-height: 1.5em;
  background: #f8f8f8;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: table;
  clear: both;
  content: "";
}
.so_wraper {
  width: 1208px;
  margin: 0 auto;
}
.so_wraper a {
  color: red;
}
