<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
   <link href="https://csdnimg.cn/public/common/toolbar/content_toolbar_css/content_toolbar.css" rel="stylesheet" >
  <link href="https://csdnimg.cn/public/favicon.ico" rel="SHORTCUT ICON">
  <link href="https://so.csdn.net/so/css/main.css" rel="stylesheet" type="text/css">
  <title>404</title>
  <script src="https://so/js/tingyun-rum-so.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127895514-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-127895514-3');
  </script>

  <style type="text/css">
    </style>
</head>

<body>
<div>
  我是404页面
</div>
<script src="https://csdnimg.cn/public/common/libs/jquery/jquery-1.9.1.min.js" type="text/javascript" ></script>
<script id="toolbar-tpl-scriptId"  prod="" skin="black" src="https://csdnimg.cn/public/common/toolbar/js/content_toolbar.js" domain="//so.csdn.net/so/" type="text/javascript"></script>
<div id="csdn_pub_footer" class="margin_foot_top" style="padding-top:20px; padding-bottom:20px;">
  <script src="https://csdnimg.cn/pubfooter/js/publib_footer-1.0.2.js"></script>
</div>
<script type="text/javascript">
  $(window).on("load",function(){
    BaiduSuggestion.bind("keyword",{
      "XOffset":"5",
      "YOffset":"-6",
      "fontSize":"14px",		//文字大小
      "line-height" : "30px",
      "padding" : "0 5px",
      "borderColor":"#e2e2e2", 	//提示框的边框颜色
      "bgcolorHI":"#cccccc",		//提示框高亮选择的颜色
      "sugSubmit":false		//在选择提示词条是是否提交表单
    });
  })
</script>
</body>
</html>
